/*Barra de navegación*/

.navbar {
    background-color: #191825;
}

.navbar a {
    color: #F3CCFF;
}

.navbar a:hover {
    color: #609EE6;
}

.navbar-brand img {
    width: 40px;
}

.dropdown-menu {
    background-color: #191825;
}

.btn-outline-success {
    border-color: #F3CCFF;
    color: #F3CCFF;
}

.btn-outline-success:hover {
    background-color: #F3CCFF;
    color: #191825;
}

/*Bienvenida: jumbotron*/

.bienvenida {
    height: 560px;
    background-color: #609EE6;
    color: white;
}

.bienvenida h1 {
    text-transform: uppercase;
    font-weight: bolder;
    padding-top: 40px;
    padding-left: 40px;
}

.bienvenida p {
    padding-left: 40px;
}

.bienvenida input {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    border: none;
    height: 46px;
    line-height: 47px;
    width: 250px;
}

input {
    font-size: 13px;
    text-align:left;
    padding-left: 9px;
}

input::placeholder {
    font-size: 13px;
    text-align:left;
    padding-left: 3px;
}

input:focus {
    font-size: 13px;
    text-align:left;
    padding-left: 9px;
}

.btn {
    border: 2px;
}

.btn:hover {
    background-color: #EBB02D;
    border: #EBB02D;
    border: 2px;
    color: white;
    transform: scale(1);
}

.letras-pequeñas {
    font-size: 13px;
}

.imagen-jumbotron img {
    width: auto;
    height: 560px;
}

/* Footer */

footer {
    min-height: 500px;
  }
  
  .footer-logo {
    height: 80px;
    width: 80px;
    margin: 10px;
  }
  
  .footer-texto {
    font-size: 1.5rem;
    padding: 20px;
    margin-bottom: 30px;
    font-family: 'Quicksand', sans-serif;
  }
  
  .iconos-redes-sociales a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 50%;
    transition: all 0.2s ease-in;
  }
  
  .iconos-redes-sociales i {
    color: white;
    font-size: 1.5rem;
    transition: all 0.2s ease-in;
  }
  
  .iconos-redes-sociales a:hover {
    background-color: white;
    border: 2px solid #E63E6D;
  }
  
  .iconos-redes-sociales a:hover i {
    color: black;
  }
  
  .derechos-de-autor {
    font-size: 15px;
    color: #aeaeae;
    padding: 20px;
  }