body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/*Barra de navegación*/

.navbar {
    background-color: #191825;
}

.navbar a {
    color: #F3CCFF;
}

.navbar a:hover {
    color: #609EE6;
}

.navbar-brand img {
    width: 40px;
}

.dropdown-menu {
    background-color: #191825;
}

.form-control {
    width: 200px;
    height: auto;
}

.form-control input:focus {
    width: 200px;
    height: auto;
}

.btn-outline-success {
    border-color: #F3CCFF;
    color: #F3CCFF;
}

.btn-outline-success:hover {
    background-color: #F3CCFF;
    color: #191825;
}

/*Bienvenida: jumbotron*/

.bienvenida {
    height: 570px;
    background-color: #609EE6;
    color: white;
}

.bienvenida h1 {
    text-transform: uppercase;
    font-weight: bolder;
    padding: 80px 5px 30px 40px;
}

.bienvenida p {
    padding-left: 40px;
    font-size: 17px;
    padding-right: 10px;
}

.bienvenida input {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    border: none;
    height: 40px;
    line-height: 47px;
    width: 250px;
}

input {
    font-size: 13px;
    text-align:left;
    padding-left: 9px;
}

input::placeholder {
    font-size: 13px;
    text-align:left;
    padding-left: 3px;
}

input:focus {
    font-size: 13px;
    text-align:left;
    padding-left: 9px;
}

.btn {
    border: 2px;
}

.btn-primary {
    font-size: 15px;
    width: 80px;
    height: 39px;
    margin-left: 10px;
}

.btn:hover {
    background-color: #EBB02D;
    border: #EBB02D;
    border: 2px;
    color: white;
    transform: scale(1);
}

.bienvenida p.letras-pequeñas {
    font-size: 13px;
    padding-top: 10px;
    padding-right: 30px;
    color: white;
}

.imagen-jumbotron img {
    width: 100%;
    height: 570px;
    object-fit: contain;
    padding-top: 40px;
}

/*Cátalogo*/

.albumes {
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 40px;
    color: #191825;
}

.albumes span {
    background-color: #609EE6;
    font-size: 19px;
    color:white;
    text-transform: lowercase;
    border-radius: 5px;
    padding: 5px;
    letter-spacing: 2px;
    font-weight: bold;
}

.albumes h1 {
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 10px;
}

.container {
    padding-top: 30px;
}

.card {
    color: #191825;
    border: none;
    box-shadow: 0px 3px 7px #191825;
    overflow: hidden;
}

.card-img-top {
    max-width: 100%;
    height: auto;
}

.card-title {
    font-size: 15px;
    font-weight: bold;
}

.card-text {
    font-size: 14px;
}

.card:hover {
    cursor: pointer;
    color: #A555EC;
}

/* Footer */

footer {
    min-height: 500px;
  }
  
  .footer-logo {
    height: 80px;
    width: 80px;
    margin: 10px;
  }
  
  .footer-texto {
    font-size: 1.5rem;
    padding: 20px;
    margin-bottom: 30px;
    font-family: 'Quicksand', sans-serif;
  }
  
  .iconos-redes-sociales a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 50%;
    transition: all 0.2s ease-in;
  }
  
  .iconos-redes-sociales i {
    color: white;
    font-size: 1.5rem;
    transition: all 0.2s ease-in;
  }
  
  .iconos-redes-sociales a:hover {
    background-color: white;
    border: 2px solid #E63E6D;
  }
  
  .iconos-redes-sociales a:hover i {
    color: black;
  }
  
  .derechos-de-autor {
    font-size: 15px;
    color: #aeaeae;
    padding: 20px;
  }

